﻿
@{
    ViewBag.Title = "Sepetim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Donem_Odevi.Controllers.AnaSayfaDTO
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | E-Shopper</title>    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->    
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>    
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">@Donem_Odevi.Resources.DonemOdevi.SUrun</td>
                            <td class="description"></td>
                            <td class="price">@Donem_Odevi.Resources.DonemOdevi.SFiyat</td>
                            <td class="quantity">@Donem_Odevi.Resources.DonemOdevi.SAdet</td>
                            <td class="total">@Donem_Odevi.Resources.DonemOdevi.SToplam</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.sepet)
                        {
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="data:image/png;base64,@System.Convert.ToBase64String(item.UrunFoto)" alt=""></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@item.UrunIsmi</a></h4>
                                <p>@item.Cinsiyet</p>
                            </td>
                            <td class="cart_price">
                                <p>@item.UrunFiyat TL</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href="/Home/AddCarts?UrunID=@item.SepetID"> + </a>
                                    <input class="cart_quantity_input" readonly type="text" formaction="/Home/AddCarts" name="Adet" value="@item.Adet" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" href="/Home/RemoveCarts?UrunID=@item.SepetID"> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@item.ToplamFiyat TL</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="DeleteCart?UrunID=@item.SepetID"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        }                        
                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->
    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>@Donem_Odevi.Resources.DonemOdevi.SYap</h3>
                <p>@Donem_Odevi.Resources.DonemOdevi.SAciklama</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="chose_area">
                        <ul class="user_option">
                            <li>
                                <input type="checkbox">
                                <label>@Donem_Odevi.Resources.DonemOdevi.SIndirim</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>@Donem_Odevi.Resources.DonemOdevi.SHediye</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>@Donem_Odevi.Resources.DonemOdevi.SAdres</label>
                            </li>
                        </ul>
                        <ul class="user_info">
                            <li class="single_field">
                                <label>Country:</label>
                                <select>
                                    <option>United States</option>
                                    <option>Bangladesh</option>
                                    <option>UK</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Ucrane</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field">
                                <label>Region / State:</label>
                                <select>
                                    <option>Select</option>
                                    <option>Dhaka</option>
                                    <option>London</option>
                                    <option>Dillih</option>
                                    <option>Lahore</option>
                                    <option>Alaska</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field zip-field">
                                <label>@Donem_Odevi.Resources.DonemOdevi.SPosta</label>
                                <input type="text">
                            </li>
                        </ul>
                        
                        <a class="btn btn-default check_out" href="">@Donem_Odevi.Resources.DonemOdevi.SDevam</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>@Donem_Odevi.Resources.DonemOdevi.SToplamm<span>@ViewBag.toplam TL</span></li>
                            <li>K.D.V <span >0 TL</span></li>
                            <li>@Donem_Odevi.Resources.DonemOdevi.SKargo <span>Ücretsiz</span></li>
                            <li>@Donem_Odevi.Resources.DonemOdevi.SToplam <span >@ViewBag.toplam TL </span></li>
                        </ul>
                        <a class="btn btn-default update" href="/Home/Carts">@Donem_Odevi.Resources.DonemOdevi.SGuncel</a>                        
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#do_action-->   
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>

