﻿@{
    ViewBag.Title = "Bize Ulaşın";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bize Ulaşın | Moda Here</title>    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Resimler/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Resimler/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Resimler/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Resimler/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>  
    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title text-center">@Donem_Odevi.Resources.DonemOdevi.BizeUlasin <strong></strong></h2> 
                    <div class="col-sm-3"> </div>
                        <div class="col-sm-6">
                            <div id="gmap" class="contact-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6028.025224004434!2d29.161828644511942!3d40.937390782311304!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1476486053963" width="600" height="450" frameborder="0" style="border:0" align="middle" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <br/>
       <br />
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">@Donem_Odevi.Resources.DonemOdevi.Temas</h2>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" required="required" placeholder="@Donem_Odevi.Resources.DonemOdevi.Isim">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" name="email" class="form-control" required="required" placeholder="E-mail">
                            </div>                            
                            <div class="form-group col-md-6">
                                <input type="text" name="subject" class="form-control" required="required" placeholder="@Donem_Odevi.Resources.DonemOdevi.Konu">
                            </div>
                            <div class="form-group col-md-2">
                                <input type="submit" name="submit" class="btn btn-primary pull-right" value="@Donem_Odevi.Resources.DonemOdevi.Gonder">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="@Donem_Odevi.Resources.DonemOdevi.Mesaj"></textarea>
                            </div>                            
                        </form>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">@Donem_Odevi.Resources.DonemOdevi.Ulasmak</h2>
                        <address>
                            <p>Moda Here Inc.</p>
                            <p>İhsandede Cad. 505. Sokak, İstanbul Türkiye(TR)</p>
                            <p>İstanbul Türkiye</p>
                            <p>Telefon: 0216 444 00 88</p>
                            <p>Fax: 1-714-252-0026</p>
                            <p>Email: info.modahere@gmail.com</p>
                        </address>
                        <div class="social-networks">
                            <h2 class="title text-center">@Donem_Odevi.Resources.DonemOdevi.Sosyal</h2>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/#contact-page-->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="~/Scripts/gmaps.js"></script>
    <script src="~/Scripts/contact.js"></script>
    <script src="~/Scripts/price-range.js"></script>
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>