﻿@{
    ViewBag.Title = "Moda Here - Ana Sayfa";
}
@model Donem_Odevi.Controllers.AnaSayfaDTO

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">   
    <link href="~/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Resimler/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Resimler/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Resimler/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Resimler/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>     
    <section id="slider">
            <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">                        
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">              
                        @foreach (var item in Model.slider)
                        {
                            if (item.ID == 1)
                            {
                            <div class="item active">   
                                <div class="col-sm-6">
                                    <h1><span>MODA</span>HERE</h1>
                                    <h2>@item.SliderTitle</h2>
                                    <p>@item.SliderText</p>
                                    <button type="button" class="btn btn-default get">@Donem_Odevi.Resources.DonemOdevi.Detay</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="data:image/png;base64,@System.Convert.ToBase64String(item.SliderFoto)" class="girl img-responsive" alt="" />
                                    @*<img src="~/Resimler/home/pricing.png" class="pricing" alt="" /> *@
                                </div>                                
                            </div>
                            }
                            else
                            {
                                <div class="item">
                                    <div class="col-sm-6">
                                        <h1><span>MODA</span>HERE</h1>
                                        <h2>@item.SliderTitle</h2>
                                        <p>@item.SliderText</p>
                                        <button type="button" class="btn btn-default get">@Donem_Odevi.Resources.DonemOdevi.Detay</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="data:image/png;base64,@System.Convert.ToBase64String(item.SliderFoto)" class="girl img-responsive" alt="" />
                                        <img src="~/Resimler/home/pricing.png" class="pricing" alt="" />
                                    </div>
                                </div>
                            }
                        }
                        </div>
                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/slider-->
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>@Donem_Odevi.Resources.DonemOdevi.Kategori</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            @Donem_Odevi.Resources.DonemOdevi.SporA
                                        </a>
                                    </h4>
                                </div>
                                <div id="sportswear" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Nike </a></li>
                                            <li><a href="#">Under Armour </a></li>
                                            <li><a href="#">Adidas </a></li>
                                            <li><a href="#">Puma</a></li>
                                            <li><a href="#">ASICS </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            @Donem_Odevi.Resources.DonemOdevi.Erkek
                                        </a>
                                    </h4>
                                </div>
                                <div id="mens" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Fendi</a></li>
                                            <li><a href="#">Guess</a></li>
                                            <li><a href="#">Valentino</a></li>
                                            <li><a href="#">Dior</a></li>
                                            <li><a href="#">Versace</a></li>
                                            <li><a href="#">Armani</a></li>
                                            <li><a href="#">Prada</a></li>
                                            <li><a href="#">Dolce and Gabbana</a></li>
                                            <li><a href="#">Chanel</a></li>
                                            <li><a href="#">Gucci</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            @Donem_Odevi.Resources.DonemOdevi.Bayan
                                        </a>
                                    </h4>
                                </div>
                                <div id="womens" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Fendi</a></li>
                                            <li><a href="#">Guess</a></li>
                                            <li><a href="#">Valentino</a></li>
                                            <li><a href="#">Dior</a></li>
                                            <li><a href="#">Versace</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">@Donem_Odevi.Resources.DonemOdevi.Cocuk</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">@Donem_Odevi.Resources.DonemOdevi.ModaK</a></h4>
                                </div>
                            </div>                         
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">@Donem_Odevi.Resources.DonemOdevi.Giyim</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">@Donem_Odevi.Resources.DonemOdevi.Canta</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">@Donem_Odevi.Resources.DonemOdevi.Ayakkabı</a></h4>
                                </div>
                            </div>
                        </div><!--/category-products-->

                        <div class="brands_products">
                            <!--brands_products-->
                            <h2>@Donem_Odevi.Resources.DonemOdevi.Marka</h2>
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
                                    <li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                                    <li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
                                    <li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
                                    <li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
                                    <li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
                                    <li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                                </ul>
                            </div>
                        </div><!--/brands_products-->

                        <div class="price-range">
                            <!--price-range-->
                            <h2>@Donem_Odevi.Resources.DonemOdevi.FiyatA</h2>
                            <div class="well text-center">
                                <input type="text" size="6" class="pull-left" placeholder="Min TL">   -
                                <input type="text" size="6" class="pull-right" placeholder="Max TL"><br /> <br /> <br />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            </div>
                        </div><!--/price-range-->

                        <div class="shipping text-center">
                            <!--shipping-->
                            <img src="~/Resimler/home/shipping.jpg" alt="" />
                        </div><!--/shipping-->

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">@Donem_Odevi.Resources.DonemOdevi.Urun</h2>
                    @foreach (var item in Model.urunler)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="data:image/png;base64,@System.Convert.ToBase64String(item.UrunFoto)" alt="" />
                                        <h2>@item.UrunFiyat TL</h2>
                                        <p>@item.UrunIsmi</p>                                       
                                        <a href="/Home/AddCarts?UrunID=@item.ID"  class="btn btn-default add-to-cart" id="@item.ID"><i class="fa fa-shopping-cart"></i>@Donem_Odevi.Resources.DonemOdevi.SepetE</a>
                                    </div>                                    
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>@Donem_Odevi.Resources.DonemOdevi.SiparisE</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square"></i>@Donem_Odevi.Resources.DonemOdevi.Karsilastir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }                       

                  </div><!--features_items-->                   

                    <div class="recommended_items">
                        <!--recommended_items-->
                        <h2 class="title text-center">@Donem_Odevi.Resources.DonemOdevi.OUrun</h2>

                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    @foreach (var item in Model.onerilenurunler)
                                    {
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="data:image/png;base64,@System.Convert.ToBase64String(item.UrunFoto)" alt="" />
                                                    <h2>@item.UrunFiyat TL</h2>
                                                    <p>@item.UrunIsmi</p>
                                                    <a href="/Home/AddCarts?UrunID=@item.ID" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>@Donem_Odevi.Resources.DonemOdevi.SepetE</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div> 
                                    }
                                </div>
                            </div>
                            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div><!--/recommended_items-->

                </div>
            </div>
        </div>
    </section> 

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/price-range.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>