﻿@model Donem_Odevi.Models.Data.Users
@{
    ViewBag.Title = "Log in";    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | E-Shopper</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~Resimler/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Resimler/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Resimler/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Resimler/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Resimler/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>    
    <section id="form">
        <!--form--> 
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2>@Donem_Odevi.Resources.DonemOdevi.GirisH</h2>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            @Html.TextBoxFor(m => m.Email, new { placeholder="Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            @Html.PasswordFor(m => m.Password, new { placeholder= @Donem_Odevi.Resources.DonemOdevi.Sifre })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <span>
                                <input type="checkbox" class="checkbox">
                                @Donem_Odevi.Resources.DonemOdevi.Hatirla
                            </span>
                            <button  type="submit" value="Log in" class="btn btn-default">@Donem_Odevi.Resources.DonemOdevi.Giris</button>
                        }
                    </div><!--/login form-->
                </div>                         
            </div>
        </div>
    </section><!--/form-->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/price-range.js"></script>
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}