﻿@model Donem_Odevi.Models.Data.Users
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>@Donem_Odevi.Resources.DonemOdevi.YeniUye</h2>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.TextBoxFor(m => m.Name , new { placeholder = @Donem_Odevi.Resources.DonemOdevi.Isim })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder= @Donem_Odevi.Resources.DonemOdevi.Sifre })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Donem_Odevi.Resources.DonemOdevi.SifreT })
                            <br />
                            <button type="submit" value="Register" class="btn btn-default">@Donem_Odevi.Resources.DonemOdevi.UyeOl</button>
                        }
                        <br />
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
