﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")    
    <script type="text/javascript">
        function mesaj() {
            alert("@Donem_Odevi.Resources.DonemOdevi.Donus");
        }
    </script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/price-range.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet">    
</head>
<body>     
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> 0216 444 00 88</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info.modahere@gmail.com</a></li>
                                <li><a href="/Home/Language?Lang=@Donem_Odevi.Resources.DonemOdevi.Cagir">@Donem_Odevi.Resources.DonemOdevi.Dil</a></li>                                
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
        </div><!--/header_top-->
    @if (Session["Email"] != null)
    {
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">                    
                    <h6>Hoşgeldiniz @Session["Name"]</h6>                    
                </div>
            </div>
        </div>              
    </div> 
    }
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="@Url.Action("Index", "Home")"><img src="~/Resimler/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group">  
                            <div class="carousel-inner">
                                <h3><span>MODA</span> HERE</h3>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                @if (Session["Email"] != null)
                                {
                                <li><a href='/Home/Hesap?UserID=@Session["ID"]'><i class="fa fa-user"></i>@Donem_Odevi.Resources.DonemOdevi.Hesap</a></li>
                                }
                                <li><a href=""><i class="fa fa-star"></i> @Donem_Odevi.Resources.DonemOdevi.SiparisListesi</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                @if (Session["Email"] == null)
                                {
                                <li><a href="@Url.Action("Carts", "Home")"><i class="fa fa-shopping-cart"></i> @Donem_Odevi.Resources.DonemOdevi.Sepetim</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Carts", "Home")"><i class="fa fa-shopping-cart"></i> @(Donem_Odevi.Resources.DonemOdevi.Sepetim)(@ViewBag.toplamurun)</a></li>
                                }
                                @if (Session["Email"] != null)
                                {                                    
                                    <li><a href="@Url.Action("Login", "Account")" ><i class="fa fa-lock"></i> @Donem_Odevi.Resources.DonemOdevi.Cikis</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-lock"></i> @Donem_Odevi.Resources.DonemOdevi.Giris</a></li>
                                    <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-arrow-circle-o-right"></i> @Donem_Odevi.Resources.DonemOdevi.UyeOl</a></li>
                                }
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="/Home/Index">@Donem_Odevi.Resources.DonemOdevi.AnaSayfa</a></li>
                                <li class="dropdown">
                                    <a href="#">@Donem_Odevi.Resources.DonemOdevi.Magaza<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">@Donem_Odevi.Resources.DonemOdevi.Uretim</a></li>
                                        <li><a href="product-details.html">@Donem_Odevi.Resources.DonemOdevi.UretimDe</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        @if (Session["Email"] == null)
                                        {
                                        <li><a href="/Home/Carts">@Donem_Odevi.Resources.DonemOdevi.Sepetim</a></li>
                                        }
                                        else
                                        {
                                        <li><a href="/Home/Carts">@(Donem_Odevi.Resources.DonemOdevi.Sepetim)(@ViewBag.toplamurun)</a></li>
                                        }
                                        <li><a href="/Account/Login">@Donem_Odevi.Resources.DonemOdevi.Giris</a></li>
                                    </ul>
                                </li>                                                               
                                <li><a href="/Home/Contact">@Donem_Odevi.Resources.DonemOdevi.BizeUlasin</a></li>
                                @if (Session["Email"] != null)
                                {
                                if (Session["Email"].ToString() == "admin@gmail.com" && Session["Password"].ToString() == "123123")
                                {
                                <li>@Html.ActionLink("Admin", "Admin", "Admin")</li>     
                                } 
                               }
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->       
        @RenderBody()      
        <footer id="footer">
            <!--Footer-->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="companyinfo">
                                <h2><span>moda</span> here</h2>
                                <p>@Donem_Odevi.Resources.DonemOdevi.Moda</p>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Resimler/home/iframe1.png" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Video Ekle</p>
                                    <h2>Video Ekleme Tarihi</h2>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Resimler/home/iframe2.png" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Video Ekle</p>
                                    <h2>Video Ekleme Tarihi</h2>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Resimler/home/iframe3.png" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Video Ekle</p>
                                    <h2>Video Ekleme Tarihi</h2>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Resimler/home/iframe4.png" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Video Ekle</p>
                                    <h2>Video Ekleme Tarihi</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="address">
                                <img src="~/Resimler/home/map.png" alt="" />
                                <p>İhsandede Cad. 505. Sokak, İstanbul Türkiye(TR)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>@Donem_Odevi.Resources.DonemOdevi.Servis</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">@Donem_Odevi.Resources.DonemOdevi.Destek</a></li>
                                    <li><a href="#">@Donem_Odevi.Resources.DonemOdevi.BizeUlasin</a></li>
                                    <li><a href="#">@Donem_Odevi.Resources.DonemOdevi.SiparisD</a></li>                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>@Donem_Odevi.Resources.DonemOdevi.Cabuk</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">T-Shirt</a></li>
                                    <li><a href="#">@Donem_Odevi.Resources.DonemOdevi.Erkek</a></li>
                                    <li><a href="#">@Donem_Odevi.Resources.DonemOdevi.Bayan</a></li>
                                    <li><a href="#">@Donem_Odevi.Resources.DonemOdevi.Hediye</a></li>
                                    <li><a href="#">@Donem_Odevi.Resources.DonemOdevi.Ayakkabı</a></li>
                                </ul>
                            </div>
                        </div>                        
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>@Donem_Odevi.Resources.DonemOdevi.BizeUlasin</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">@Donem_Odevi.Resources.DonemOdevi.Sirket</a></li>                                    
                                    <li><a href="#">@Donem_Odevi.Resources.DonemOdevi.MagazaY</a></li>                            
                                  
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>  @*avoiding right sides to slide of the left side*@
                        <div class="col-sm-3 col-sm-offset-1">
                            <div class="single-widget">
                                <h2>@Donem_Odevi.Resources.DonemOdevi.Guncel</h2>
                                <form action="#" class="searchform">
                                    <input type="text" placeholder="E mail adresiniz" />
                                    <button type="submit" onclick="mesaj()" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                    <p>En güncel ve en yeni haberleri <br />ilk siz alın...</p>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <p class="pull-left">Copyright © 2016 Moda Here Inc. Bütün hakları saklıdır.</p>
                        
                    </div>
                </div>
            </div>

        </footer><!--/Footer-->
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/price-range.js"></script>
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/main.js"></script>    
</body>
</html>
