﻿
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">@Html.ActionLink("Admin", "Admin", "Admin")</li>
                        <li>@Html.ActionLink("Slide", "Slider", "Admin")</li>
                        <li>@Html.ActionLink("Ürünler", "Urunler", "Admin")</li>
                        <li>@Html.ActionLink("Önerilen Ürünler", "OUrunler", "Admin")</li>
                        <li>@Html.ActionLink("Kullanıcılar", "Users", "Admin")</li>                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Admin Duyuru</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Admin paneline hoşgeldiniz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


