﻿
@{
    ViewBag.Title = "OUrunler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Donem_Odevi.Models.Data.OnerilenUrunler>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Ürünler", "Urunler", "Admin")</li>
                        <li class="active">@Html.ActionLink("Önerilen Ürünler", "OUrunler", "Admin")</li>
                        <li>@Html.ActionLink("Slide", "Slider", "Admin")</li>
                        <li>@Html.ActionLink("Kullanıcılar", "Users", "Admin")</li> 
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Önerilen Ürünler</h4>
                    <a href="/Admin/OUrunlerEkle" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Urun" style="margin-top:-33px;">Yeni Ürün</a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">Fotoğraf</th>
                                <th class="col-md-3">Ürün İsmi</th>
                                <th class="col-md-2">Ürünün Ait Olduğu Cinsiyet</th>
                                <th class="col-md-2">Ürün Fiyat</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.UrunFoto == null)
                                    {
                                        <td><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.UrunFoto)" />
                                        </td>
                                    }
                                    <td>@item.UrunIsmi</td>
                                    <td>@item.Cinsiyet</td>
                                    <td>@item.UrunFiyat</td>
                                    <td><a href='/Admin/OUrunlerDuzenle?UrunID=@item.ID' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
                                    <td>@Html.ActionLink("Sil", "/OUrunSil", new { UrunID = item.ID }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                                    @*<td><a href="/Admin/SlideSil?SlideID=@item.ID" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

