﻿
@{
    ViewBag.Title = "SlideEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>

@model Donem_Odevi.Models.Data.Slider

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("SlideEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Yeni Slide</h4>
                    <a href="/Admin/Slider" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Slide" style="margin-top:-33px;">Tümü</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Fotoğraf</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Slider Başlık</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.SliderTitle, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Açıklama</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.SliderText, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Başlangıç Tarihi</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.BaslangicTarih, new { @class = "form-control", style = "width:250px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Bitiş Tarihi</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.BitisTarih, new { @class = "form-control", style = "width:250px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Kaydet" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#BitisTarih").datepicker({ dateFormat: 'DD.MM.YYYY' });
        $("#BitisTarih").datepicker('setDate', new Date());
        $("#BaslangicTarih").datepicker({ dateFormat: 'DD.MM.YYYY' });
        $("#BaslangicTarih").datepicker('setDate', new Date());
    });
</script>

