﻿
@{
    ViewBag.Title = "UrunDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>

@model Donem_Odevi.Models.Data.Urunler

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("UrunDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.ID)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Slide Düzenle</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Fotoğraf</label>
                                <div class="col-sm-10">
                                    <input type="file" name="file" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Ürün İsmi</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.UrunIsmi, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Ürünün Ait Olduğu Cinsiyet</label>
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(m => m.Cinsiyet, new SelectList(new List<Object> { new { value = "Kadın", text = "Kadın" }, new { value = "Erkek", text = "Erkek" } }, "value", "text"), "Cinsiyet Seçiniz", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Ürün Fiyatı</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.UrunFiyat, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Güncelle" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
