﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Donem_Odevi.Models.Data.Users>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Admin", "Admin", "Admin")</li>
                        <li>@Html.ActionLink("Ürünler", "Urunler", "Admin")</li>
                        <li>@Html.ActionLink("Önerilen Ürünler", "OUrunler", "Admin")</li>
                        <li class="active">@Html.ActionLink("Kullanıcılar","Users","Admin")</li>
                        <li>@Html.ActionLink("Slide", "Slider", "Admin")</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Kullanıcılar</h4>                    
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">Kullanıcı İsmi</th>
                                <th class="col-md-3">Email Adresi</th>
                                <th class="col-md-2">Şifresi</th>                                
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>                                   
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Password</td>
                                    <td><a href='/Admin/UsersDuzenle?UserID=@item.ID' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
                                    <td>@Html.ActionLink("Sil", "/UsersSil", new { UsersID = item.ID }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                                    @*<td><a href="/Admin/SlideSil?SlideID=@item.ID" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

