﻿
@{
    ViewBag.Title = "UsersDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Donem_Odevi.Models.Data.Users

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("UsersDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.ID)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Kullanıcı Düzenle</h4>
                </div>
                <div class="panel-body">
                    <div class="row">                         
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Kullanıcı Adı</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Kullanıcı EMail Adresi</label>
                                <div class="col-sm-10">                                    
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Kullanıcı Şifresi</label>
                                <div class="col-sm-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Kullanıcı Şifresi Tekrar</label>
                                <div class="col-sm-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Güncelle" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
